/* 全局基础样式 */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a2e;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
